/*p {
width: 50px;
height: 50px;
background-color: blue; 
float: left;
padding: 10px;
} */

.callout{
	background: #FF4136;
	padding:30px;
	color: white;
	text-align: right;
	border: none;
	margin-top: 20px;

}
	/* removes the border */
	.x-callout:before{
    display: none;
 
}

.callout H1{
	font-family: 'Jura', sans-serif;
	font-family: 'Syncopate', sans-serif;
	font-weight: bold;
	font-size: 90px;

}

/**{
	background: #ff7bac;
}*/
#talkInvite{
	font-size: 60px;
	font-family: 'Comfortaa', cursive;
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Architects Daughter', cursive;
	font-family: 'Sat1isfy', cursive;
	font-family: 'Passion One', cursive;
	line-height: 3px;
	color:#FF4136 ;
	margin-bottom: 2px;
}


/*#giveText{
	font-size: 30px;
	color:#FF4136;
	line-height: 6px;

}*/

#sayText {
	font-size: 20px;
	color:#666;
	

}

.foo {
  float: right;
  width: 30px;
  height: 30px;
  margin: 12px;
  border: 5px solid white;
  align-items: right;
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.salmon {
  background: salmon;
}

.yellow {
	background: yellow;
}

.lightgreen {
	background: lightgreen;
}
.lightblue {
	background: lightblue;
}
.orange {
	background: orange;
}

.lime {
	background: #79DC91;
}

.candycane {
	background: #E5071F;
	}
 

 /*form*/
 form {
	  position: relative;
	  display: inline-block;
	  max-width: 700px;
	  min-width: 500px;
	  box-sizing: border-box;
	  padding: 30px 25px;
	  background-color: white;
	  border-radius: 40px;
	  margin: 40px 20px;
	  left: 5%;
	  font-family: "Helvetica" , sans-serif;
	  font-weight: light;
	  -webkit-font-smoothing: antialiased;
}

#inputText{ 
      /*@extend .transition*/
      appearance: none;
      background-color: none;
      border: 1px solid #FF4136;
      line-height: 0;
      font-size: 40px;
      width: 100%;
      /*display: block;*/
      box-sizing: border-box;
      padding: 15px 15px;
      border-radius: 60px;
      color: white;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 1;
  }
#inputText:hover{
 	/*translate( 0 , -35px );*/
 	font-style: italic;
    color: white;
    font-family: "Georgia";
} 

#inputText:focus { 
        outline: none;
        background: #FF4136;
        color: white;
        margin-top: 30px;
        margin: 40px 20px;
    }

.question{

    position: relative;
    padding: 10px 0;
}


label{
   /*   @extend .transition*/
      transform-origin: left center;
      color: #8F8F8F;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 20px;
      box-sizing: border-box;
      padding: 10px 15px;
      display: block;
      position: absolute;
      margin-top: -80px;
      z-index: 2;
      pointer-events: none;
}

button{
   /* @extend .transition*/
    margin-top: 35px;
    background-color: #FF4136;
    border: 1px solid #FF4136;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
	font-size: 30px;
	color:white;
	line-height: 6px;

}

 button:hover{
		color: #666;
      	background-color: salmon;
      	border: 4px solid white;

 	}  
      
 button:focus{
		color: white;
      	background-color: #FF4136;

 	}